In [1]:
import sys
sys.path.insert(1, '../auxiliary_scripts')
import output_postprocessing as op
import pandas as pd
import functools as ft
import os

In [2]:
path_to_timeseries = '/home/amullen/LAKE_NSF/results/TKL917-spinup/time_series'
# depth, temperature(C), salinity, ch4, co2, o2, phosph

#Water temperature profile
twater=op.parse_univariate_file(os.path.join(path_to_timeseries, 'water_temp  1  1f2.dat'), 't_water')

#soil temperature
tsoil=op.parse_univariate_file(os.path.join(path_to_timeseries, 'soil_temp  1  1f2.dat'), 't_soil')

#Salinity profile
sal_water=op.parse_univariate_file(os.path.join(path_to_timeseries, 'sal_water  1  1f2.dat'), 'sal_water')

#Methane concentration profile
ch4=op.parse_univariate_file(os.path.join(path_to_timeseries, 'methane_water  1  1f2.dat'), 'ch4')

#Carbon dioxide concentration profile
co2=op.parse_univariate_file(os.path.join(path_to_timeseries, 'co2_water  1  1f2.dat'), 'co2')

#Carbon dioxide concentration profile
o2=op.parse_univariate_file(os.path.join(path_to_timeseries, 'oxygen_water  1  1f2.dat'), 'o2')

#Carbon dioxide concentration profile
phoshp=op.parse_univariate_file(os.path.join(path_to_timeseries, 'phosph_water  1  1f2.dat'), 'phosph')

df = ft.reduce(lambda left, right: pd.merge(left, right, on=['year','month','day','hour','integration_time','depth','Date']), 
                      [twater, sal_water, ch4, co2, o2, phoshp])

In [3]:
df.head()

,year,month,day,hour,integration_time,depth,t_water,Date,sal_water,ch4,co2,o2,phosph
0,2003,1,2,12.0,1.0,-0.00,-5.307565e-11,2003-01-02,7.960572e-13,274.428487,68.015108,3.200000e-19,0.01908
1,2003,1,2,12.0,1.0,-0.25,5.230875e-03,2003-01-02,7.939625e-13,274.428469,68.012155,6.754410e-12,0.01908
2,2003,1,2,12.0,1.0,-0.50,7.125875e-03,2003-01-02,7.934755e-13,274.428444,68.011085,6.730726e-12,0.01908
3,2003,1,2,12.0,1.0,-0.75,8.555994e-03,2003-01-02,7.932074e-13,274.428420,68.010278,0.000000e+00,0.01908
4,2003,1,2,12.0,1.0,-1.00,9.974404e-03,2003-01-02,7.930336e-13,274.428393,68.009477,6.769121e-12,0.01908

In [4]:
# future start date: 2021-07-01
start_date = '2021-07-01'
init_row=df.loc[df['Date']==start_date]
init_row_tsoil = tsoil.loc[tsoil['Date']==start_date]

In [5]:
#ignore 0.0 depth row
for index, row in init_row.iterrows():
    print(str(row['depth']*-1) + '  ' + str(row['t_water']) + '  ' + str(row['sal_water']) + '  ' + 
    str(row['ch4'] * 0.001) + '  ' + str(row['co2'] * 0.001) + '  ' + str(row['o2']/32) + '  ' + str(row['phosph'] / 123.88))

0.0  0.0  0.0  2.368742996  0.18790722610000002  1.0000000000000001e-20  0.00034471785437520185
0.25  0.2913618946  2.786818144e-16  2.213757756  0.1874574389  1.509611479375e-12  0.00034514000540845983
0.5  0.6536446136  5.791577279999999e-16  2.241748885  0.1870773633  0.0  0.0003604657985146917
0.75  1.079405037  4.746449291999999e-16  2.5384875670000002  0.18684574710000001  0.0  0.00038019899838553445
1.0  1.560081682  4.4397972439999996e-16  2.071653261  0.1857128203  0.0  0.00034363836341620924
1.25  2.093481579  4.348163516e-16  1.94207326  0.1825043752  0.0  0.00022535064828866646
1.5  2.683206247  4.2936028319999995e-16  3028.786164  0.1789063532  9.9909526375e-21  0.00010882663981272199

In [6]:
#only copy down to 10 m, every meter, keep 0.0 depth row
for index, row in init_row_tsoil.iterrows():
    print(str(row['depth']*-1) + '  ' + str(row['t_soil']))

0.0  2.6833
0.1  2.7752
0.2  2.8617
0.5  3.1034
1.0  3.4493
2.0  3.9671
3.0  4.3305
4.0  4.5445
5.0  4.7146
6.0  4.7611
7.0  4.8077
8.0  4.8155
9.0  4.8155
10.0  -999.0