In [14]:
#Use this file to generate empty inflows and outflows file based on LAKE input meteorology
import pandas as pd

#for tribheat = 3, order of inflows columns is 'Date', 'discharge', 'depth', 'width', 'temp', 'sal', 'dirprojX', 'dirprojY', 'DOC', 'POC', 'DIC', 'CH4', 'O2'
#order of outflows columns is 'Date', 'discharge', 'depth', 'width'
#units are discharge (m3/s), depth (m), width (m), temp (C), sal(kg/kg), ?, ?, mol/m3, mol/m3, mol/m3, mol/m3, mol/m3

In [15]:
path_to_meteo_file = '/home/amullen/LAKE/meteo/TKL873-InflowTest.dat'
path_to_inflows = '/home/amullen/LAKE/meteo/TKL873-InflowTest_inflows.dat'
path_to_outflows = '/home/amullen/LAKE/meteo/TKL873-InflowTest_outflows.dat'

In [16]:
meteo_df = pd.read_csv(path_to_meteo_file)

In [26]:
inflows_df = pd.DataFrame(columns=['Date', 'discharge', 'depth', 'width', 'temp', 'sal', 'dirprojX', 'dirprojY', 'DOC', 'POC', 'DIC', 'CH4', 'O2'])
inflows_df['Date'] = pd.to_datetime(meteo_df[['Year', 'Month', 'Day']]).dt.strftime('%d%m%Y')
inflows_df = inflows_df.fillna(-999)

inflows_df['discharge'] = ((4.3 * 1e-2)/86400) #m/s Dabrowski et al., 2020
inflows_df['CH4'] = 0.370 #mol/m3, Dabrowski et al., 2020 YKD
inflows_df['depth'] = 2.75
inflows_df['width'] = 90

In [29]:
inflows_df.head()

,Date,discharge,depth,width,temp,sal,dirprojX,dirprojY,DOC,POC,DIC,CH4,O2
0,01012000,4.976852e-07,2.75,90,-999,-999,-999,-999,-999,-999,-999,0.37,-999
1,02012000,4.976852e-07,2.75,90,-999,-999,-999,-999,-999,-999,-999,0.37,-999
2,03012000,4.976852e-07,2.75,90,-999,-999,-999,-999,-999,-999,-999,0.37,-999
3,04012000,4.976852e-07,2.75,90,-999,-999,-999,-999,-999,-999,-999,0.37,-999
4,05012000,4.976852e-07,2.75,90,-999,-999,-999,-999,-999,-999,-999,0.37,-999

In [30]:
outflows_df = pd.DataFrame(columns=['Date', 'discharge', 'depth', 'width'])
outflows_df['Date'] = inflows_df['Date']
outflows_df = outflows_df.fillna(-999)
outflows_df['discharge'] = inflows_df['discharge']
outflows_df['depth'] = inflows_df['depth']
outflows_df['width'] = inflows_df['width']

In [31]:
inflows_df.to_csv(path_to_inflows, index=False, header=False)
outflows_df.to_csv(path_to_outflows, index=False, header=False)