In [3]:
import pandas as pd
import numpy as np

### Generating Inflow and Outflow Files
Use this file to generate inflows and outflows file based on LAKE input meteorology file. There are multiple ways to specify inflows and outflows in LAKE. This notebook generates inflow/outflow files that are not discretized by depth and have one input row per day.

##### Parameterization required for input/output files.

setup.dat

* tribheat 2 # Thermal effects of tributaries switched on

* N_tribin 1 # This and the following line define number of tributaries

    1
* N_triblev 1 # tributary layers, we are only specifying one layer for the entire water column
* fileinflow  'YKD-burned-inflows_inflows.dat'
* fileoutflow 'YKD-burned-inflows_outflows.dat'
* iefflloc 1
* dttribupdate 1. #timestep (days) for tributary update

for tribheat 2, column order is:

* 'Date', 'width', 'discharge velocity', 'temp', 'sal', 'Ux', 'Uy', 'DOC', 'POC', 'DIC', 'CH4', 'O2'

order of outflows columns is:
* 'Date', 'width', discharge velocity


units are width (m), velocity (m/s), temp (C), sal (?), Ux (?), Uy(?), DOC (mol/m3), POC (mol/m3), DIC (mol/m3), CH4 (mol/m3), O2 (mol/m3)

In [9]:
#path_to_meteo_file = '/home/amullen/LAKE/meteo/Darro.dat'
#path_to_inflows = '/home/amullen/LAKE/meteo/Darro_inflows.dat'
#path_to_outflows = '/home/amullen/LAKE/meteo/Darro_outflows.dat'

path_to_meteo_file = '/home/amullen/LAKE/meteo/YKD-unburned-sa.dat'
path_to_inflows = '/home/amullen/LAKE/meteo/YKD-unburned-sa_inflows.dat'
path_to_outflows = '/home/amullen/LAKE/meteo/YKD-unburned-sa_outflows.dat'

In [4]:
meteo_df = pd.read_csv(path_to_meteo_file)

In [5]:
#inflows
inflows_df = pd.DataFrame(columns=['Date', 'width', 'U', 'temp', 'sal', 'Ux', 'Uy', 'DOC', 'POC', 'DIC', 'CH4', 'O2']) #for tribheat=2
inflows_df['Date'] = pd.to_datetime(meteo_df[['Year', 'Month', 'Day']]).dt.strftime('%Y%m%d')
inflows_df = inflows_df.fillna(-999)

#only required columns are 'width' and 'U', everything not given a real value should be -999
inflows_df['width'] = 5 #burned: 52 #TKL873: 90
inflows_df['U'] = ((4.3)/86400) #m/s Dabrowski et al., 2020
inflows_df['CH4'] = 0.370 #mol/m3, Dabrowski et al., 2020 YKD
inflows_df['temp'] = -999

In [6]:
#outflows

outflows_df = pd.DataFrame(columns=['Date', 'width', 'U'])
outflows_df['Date'] = inflows_df['Date']
outflows_df['width'] = inflows_df['width']
outflows_df['U'] = inflows_df['U']

In [10]:
inflows_df.to_csv(path_to_inflows, index=False, header=False)
outflows_df.to_csv(path_to_outflows, index=False, header=False)

In [8]:
inflows_df

          Date  width        U  temp  sal   Ux   Uy  DOC  POC  DIC   CH4   O2
0     20210701      5  0.00005  -999 -999 -999 -999 -999 -999 -999  0.37 -999
1     20210702      5  0.00005  -999 -999 -999 -999 -999 -999 -999  0.37 -999
2     20210703      5  0.00005  -999 -999 -999 -999 -999 -999 -999  0.37 -999
3     20210704      5  0.00005  -999 -999 -999 -999 -999 -999 -999  0.37 -999
4     20210705      5  0.00005  -999 -999 -999 -999 -999 -999 -999  0.37 -999
...        ...    ...      ...   ...  ...  ...  ...  ...  ...  ...   ...  ...
1167  20240910      5  0.00005  -999 -999 -999 -999 -999 -999 -999  0.37 -999
1168  20240911      5  0.00005  -999 -999 -999 -999 -999 -999 -999  0.37 -999
1169  20240912      5  0.00005  -999 -999 -999 -999 -999 -999 -999  0.37 -999
1170  20240913      5  0.00005  -999 -999 -999 -999 -999 -999 -999  0.37 -999
1171  20240914      5  0.00005  -999 -999 -999 -999 -999 -999 -999  0.37 -999

[1172 rows x 12 columns]